<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Configure for SQL Server with windows integrated security -->
		<add name="DefaultConnection" connectionString="Server=(localdb)\mssqllocaldb;Integrated Security=true;MultipleActiveResultSets=True;Database=CompanyDB;" />
		<add name="CompanyConnection" connectionString="Server=(localdb)\mssqllocaldb;Integrated Security=true;MultipleActiveResultSets=True;Database=CompanyDB;" />
	</connectionStrings>
</configuration>